<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Agendamento Eletrônico</title>
    <style>
        #client_informations {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        #client_informations td, #client_informations th {
            border: 1px solid #ddd;
            padding: 8px;
        }
        #client_informations tr:hover { background-color: #ddd; }
        #client_informations th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color:rgb(76, 130, 175);
            color: white;
        }
        h1 {
            font-size: 20px;
            line-height: 15px;
        }
        #logo_cbmpe {
            height: 120px;
            width: 120px;
            float: left;
            padding-right: 10px;
        }
        #electronic_scheduling {
            font-size: 15px;
            margin-top:40px;
        }
        section {
            padding-top: 30px;
        }
        hr {
            width: 607px;
            height: 8px;
            float: left;
            background: black;
            margin-left: 1px;
            margin-top: 1px;
        }
    </style>
</head>
<body>
    <section>
        <%= image_tag(attachments['logo_cbmpe.png'].url, id: "logo_cbmpe") %>
        <h1 id="socialDefenseSecretary">SECRETARIA DE DEFESA SOCIAL</h1>
        <h1 id="cbmpe">CORPO DE BOMBEIROS MILITAR DE PERNAMBUCO</h1>
        <hr>
        <h1 id="electronic_scheduling">AGENDAMENTO ELETRÔNICO</h1>
    </section>
    <section>
        <table id="client_informations">
            <tbody>
                <tr>
                    <th style="width:30%">Nº do agendamento (usado para cancelar o agendamento, caso necessário):</th>
                    <td><%= @schedule.schedule_protocol %></td>
                </tr>
                <tr>
                    <th>Senha (será chamada no monitor, no local e horário agendados):</th>
                    <td><%= @schedule.get_sga_token %></td>
                </tr>
                <tr>
                    <th>Nome:</th>
                    <td><%= @schedule.client_name %></td>
                </tr>
                <tr>
                    <th>CPF:</th>
                    <td><%= @schedule.client_cpf %></td>
                </tr>
                <% if (@schedule.property_sequential_or_protocol.nil?) %>
                    <tr>
                        <th>Sequencial do imóvel (ou protocolo):</th>
                        <td><%= @schedule.property_sequential_or_protocol %></td>
                    </tr>
                <% end %>
                <tr>
                    <th>Serviço:</th>
                    <td><%= @schedule.service.name %></td>
                </tr>
                <tr>
                    <th>Ponto de atendimento:</th>
                    <td><%= @schedule.service_point.name %></td>
                </tr>
                <tr>
                    <th>Data:</th>
                    <td><%= @schedule.date.strftime("%d/%m/%Y") %></td>
                </tr>
                <tr>
                    <th>Horário:</th>
                    <td><%= @schedule.time.strftime("%H:%M") %></td>
                </tr>
                <tr>
                    <th>Documento(s) necessário(s):</th>
                    <td><%= @schedule.service.document %></td>
                </tr>
                <% if (@schedule.has_expert?) %>
                    <tr>
                        <th>Nome do analista:</th>
                        <td><%= @schedule.get_expert_name %></td>
                    </tr>
                <% end %>
                <tr>
                    <th>Endereço do ponto de atendimento:</th>
                    <td><%= @schedule.service_point.get_address %></td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>
