<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">
      <%= translate_module(:availability, :one) %>
      <small><%= translate_action(:new) %></small>
    </h3>
  </div>

  <div class="box-body">
    <!-- Erro -->
    <% if @availability.errors.any? %>
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-ban"></i> Erro</h4>
        <div id="error_explanation">
          <ul>
          <% @availability.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <!-- form start -->
    <%= form_with(model: @availability, local: true, class: "form-horizontal", html: { multipart: true }) do |form| %>

      <div id="availability_form_edit">
        <%= javascript_pack_tag 'src/scenes/availabilities/form_edit', id: 'availability_form_edit_node', data: @availability.to_json %>
      </div>

      <div class="box-footer">
        <%= link_to translate_action(:back), availabilities_path, class: "btn btn-default" %>
        <button type="submit" class="btn btn-info pull-right"><%= translate_action(:update) %></button>
      </div>

      <script type="text/javascript">
          $(function () {
              $('#datetimepicker6').datetimepicker({
                    format: 'DD/MM/YYYY',
                    locale: 'pt-br',
                    useCurrent: false
              });
          });
      </script>
      <!-- /.box-footer -->
    <% end %>
  </div>
</div>




